<!DOCTYPE html>
<html>

  <head>
    <title> {{ title }} </title>
  </head>

  <body>
    <center>
    	<h1> {{heading}} </h1>
    	<p> {{paragraph}} </p>
      <table border="1">
        <tr>
          <td>Occupation</td>
          <td>Rate</td>
        </tr>
        {% for item in collection %}
          <tr>
          {% for thing in item %}
            <td>{{thing}}</td>
          {% endfor %}
          </tr>
        {% endfor %}
      </table>
      <h1> GENERATE YOUR FUTURE OCCUPATION </h1>
      <p style="color:red;">{{warning}}</p>
      <p>{{generate}}</p>
    </center>
  </body>
</html>
